# .clang-format
---
BasedOnStyle: LLVM

# 1) Indentation
IndentWidth:             4
ContinuationIndentWidth: 4   # indent for any manually broken line
UseTab:                  Never
TabWidth:                4

# 2) Braces

# 3) Don’t touch includes, comments, or column widths
SortIncludes:            true
ReflowComments:          false
ColumnLimit:             120

# 4) No collapsing of “short” constructs
AllowShortFunctionsOnASingleLine:    Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine:        false
AllowShortBlocksOnASingleLine:       false
AlignOperands: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment
BreakBinaryOperations: OnePerLine 
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false

DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
SpacesInContainerLiterals: true
SpaceBeforeAssignmentOperators: true
Cpp11BracedListStyle: false
ConstructorInitializerIndentWidth: 8
BreakConstructorInitializers: BeforeColon
BinPackArguments:      false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes
