---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-avoid-c-arrays, 
        -readability-identifier-length,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-include-cleaner,
        -misc-use-internal-linkage,
        -hicpp-avoid-c-arrays,
        -hicpp-signed-bitwise,
        -modernize-use-using,
        -modernize-avoid-c-arrays,
        -hicpp-explicit-conversions,
        -readability-const-return-type,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -performance-enum-size,
        -modernize-redundant-void-arg,
"